@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply bg-[#FDFBF7] text-slate-900 transition-colors duration-500 antialiased selection:bg-rose-500 selection:text-white;
  }
  
  .dark body {
    @apply bg-[#050505] text-white selection:bg-rose-500 selection:text-white;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
